.main-container {
    max-width: calc(100vw - 276px);
    position: relative;
    top: 66px;
    left: 260px;
    transition: all 0.3s ease;
}

.toggled-main-container {
    max-width: calc(100vw - 86px);
    position: relative;
    top: 66px;
    left: 70px;
    transition: all 0.3s ease;
}

.fs-custom {
    font-size: .95rem;
}

.table-header {
    background-color: #bfdbfe;
    color: #1e3a8a;
}

.body-data {
    height: 3.5rem;
}

.body-data:hover {
    background-color: rgb(241, 245, 255);
}

.doc-link {
    color: black;
    cursor: pointer;
    width: 100%;
    max-width: 16rem;
    margin-right: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.doc-link:hover {
    color: #2542ea;
}

.sts-btn {
    background-color: #22c55e;
    font-weight: 600;
    cursor: pointer;
    /* border: none;
    border-radius: .4rem;
    padding-block: .4rem; */
}

.sts-btn:hover {
    background-color: #1da34e;
}

.overlay {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 98;
}